.App {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
}

body {
  background-color: rgba(62, 114, 146, 0.9);
  padding-bottom: 140px;
}
