.details-header {
  display: flex;
  background-color: rgb(93, 141, 180);
}

.details-title {
  width: 100%;
  text-align: left;
  padding-left: 10px;
  font-weight: bold;
}

.list-group-item:nth-child(odd) {
  background-color: rgba(85, 121, 219, 0.7);
}

.list-group-item:nth-child(even) {
  background-color: rgba(72, 101, 179, 0.9);
}
